<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sjzc.course.mapper.EduChapterMapper">

    <select id="getChapterByCourseId" resultType="com.sjzc.course.entity.vo.ChapterVo">
        select id,title from edu_chapter where course_id = #{courseId}
    </select>

</mapper>