<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sjzc.course.mapper.EduCourseMapper">

    <insert id="insertCourseAndDescription" parameterType="com.sjzc.course.entity.EduCourse">
        insert into
        edu_course
        (
          id,
          teacher_id,
          subject_id,
          subject_parent_id,
          title,
          price,
          lesson_num,
          cover,
          gmt_create,
          gmt_modified
        )
        values
        (
          #{id},
          #{teacherId},
          #{subjectId},
          #{subjectParentId},
          #{title},
          #{price},
          #{lessonNum},
          #{cover},
          #{gmtCreate},
          #{gmtModified}
        )
    </insert>

    <select id="getCourseAndDescribeByCourseId" resultType="com.sjzc.course.entity.vo.CourseAndDescribeVo">
        select
        title,
        description,
        teacher_id,
        subject_id,
        subject_parent_id,
        price,
        cover,
        lesson_num
        from
        edu_course c,edu_course_description d
        where
        c.id = d.id and c.id = #{courseId}
    </select>

    <update id="updateCourse" parameterType="com.sjzc.course.entity.EduCourse">
        update
        edu_course
        <set>
            <if test="title != null and title != ''"> title = #{title}, </if>
            <if test="price != null and price != ''"> price = #{price}, </if>
            <if test="teacherId != null and teacherId != ''"> teacher_id = #{teacherId}, </if>
            <if test="subjectId != null and subjectId != ''"> subject_id = #{subjectId}, </if>
            <if test="subjectParentId != null and subjectParentId != ''"> subject_parent_id = #{subjectParentId}, </if>
            <if test="cover != null and cover != ''"> cover = #{cover},</if>
            <if test="lessonNum != null and lessonNum != ''"> lesson_num = #{lessonNum}, </if>
            gmt_modified = #{gmtModified}
        </set>
        where id = #{id}
    </update>

    <select id="getPublishCourse" resultType="com.sjzc.course.entity.vo.CoursePublishVo">
        select
          ec.id as id,
          ec.title as title,
          ec.cover as cover,
          ec.lesson_num as lessonNum,
          ec.price as price,
          ecd.description as description,
          es1.title as subjectLevelOne,
          es2.title as subjectLevelTwo,
          et.name as teacherName
        from
        edu_course ec
          left join edu_course_description ecd on ec.id = ecd.id
          left join edu_subject es1 on ec.subject_id = es1.id
		  left join edu_subject es2 on ec.subject_parent_id = es2.id
		  left join edu_teacher et on ec.teacher_id = et.id
		where
		ec.id = #{courseId}
    </select>

    <update id="publishCourse">
        update edu_course set status = 'Normal' where id = #{courseId}
    </update>


</mapper>